* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  

}

body {
    background-image: url(../Media/Image/Ladrillos\ tileables.png);
    background-repeat: repeat;
    background-position: center;
}

/* ---------------------------------------------- */


Body header div:first-child {
    padding: 15px;
    background-color: #00000098 ;
    box-shadow: 5px 5px 5px 5px #00000098;
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    padding: 5px;
    text-align: center;

}

nav ul {
    list-style: none;

}

nav li {
    display: inline;
    padding: 10px;
   
}

.MenuPrincipal{
    display: flex;
    justify-content: center;
    padding: 20px;   
}

#BotonesMenuPrincipal{
    align-self: center;
    padding: 5px;      
}

#BotonesMenuPrincipal li {
    margin: 15px;
    background-color: #00000081;
}